.emacs.d/*cache
.emacs.d/.lsp-session*
.emacs.d/.mc-lists.el
.emacs.d/.org-id-locations
.emacs.d/auto-save-list
.emacs.d/bookmarks
.emacs.d/config.el
.emacs.d/forge-database.sqlite
.emacs.d/projectile-*
.emacs.d/projects
.emacs.d/recentf
.emacs.d/straight/*
.emacs.d/tramp
.emacs.d/transient
.emacs.d/var

.config/*
!.config/fish
.config/fish/fish_variables
!.config/nixpkgs
