.emacs.d/*cache
.emacs.d/.dap-breakpoints
.emacs.d/.emacs.desktop*
.emacs.d/.lsp-eslint-choices
.emacs.d/.lsp-session*
.emacs.d/.mc-lists.el
.emacs.d/.org-id-locations
.emacs.d/auto-save-list
.emacs.d/bookmarks
.emacs.d/config.el
.emacs.d/dirvish
.emacs.d/eclipse.jdt.ls
.emacs.d/forge-database.sqlite
.emacs.d/image-dired
.emacs.d/projectile-*
.emacs.d/projects
.emacs.d/recentf
.emacs.d/request
.emacs.d/sql-connections.el
.emacs.d/straight/*
.emacs.d/tramp
.emacs.d/transient
.emacs.d/url
.emacs.d/var
.emacs.d/workspace

## config files that we don't need/want to track
.config/nushell/history.txt
.config/fish/fish_variables

## OS-specific files
.DS_Store
