.emacs.d/*cache
.emacs.d/.dap-breakpoints
.emacs.d/.emacs.desktop*
.emacs.d/.lsp-eslint-choices
.emacs.d/.lsp-session*
.emacs.d/.mc-lists.el
.emacs.d/.org-id-locations
.emacs.d/auto-save-list
.emacs.d/bookmarks
.emacs.d/config.el
.emacs.d/dirvish
.emacs.d/eclipse.jdt.ls
.emacs.d/forge-database.sqlite
.emacs.d/image-dired
.emacs.d/projectile-*
.emacs.d/projects
.emacs.d/recentf
.emacs.d/request
.emacs.d/sql-connections.el
.emacs.d/straight/*
.emacs.d/tramp
.emacs.d/transient
.emacs.d/url
.emacs.d/var
.emacs.d/workspace
# I don't use emacs atm, let's remove this for now
.emacs.d/*


## config files that we don't need/want to track
.config/nushell/history.txt
.config/fish/fish_variables
.config/Line 6/
.config/Roland Cloud/
.config/atuin/
.config/composer/
.config/configstore/
.config/fish/conf.d/
.config/gcloud/
.config/gh/
.config/git/
.config/github-copilot/
.config/jgit/
.config/karabiner/assets/
.config/karabiner/automatic_backups/
.config/nix/
.config/nixpkgs/old_overlays/
.config/raycast/
.config/riff/
.config/steinberg-download-assistant/
.config/yarn/
.config/jj/repos

# never quite finished the nix darwin setup; ignore for now
nix/darwin/*

## OS-specific files
.DS_Store

## Editor/work stuff
.zed/
code/work/**/shell.nix
code/work/**/.envrc
codebook.toml
.log
heartscripts
.envrc

.env

.jjconflict-*

# claude
.claude/settings.local.json

**/.claude/settings.local.json
